fieldset {
    background-color: lightgray;
    border-radius: 5px;
    border-color: dimgray;
    margin-bottom: 5px;
    line-height: 1.4;
}

button {
    background-color: orange;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

input[type="text" i] {
    margin-bottom: 15px;
    padding:5px;
    cursor: text;
}

select {
    margin-bottom: 15px;
}

.width {
    width: fit-content;
}